<div class="row">

  <div class="col text-center">
    <!--CARGAMOS IMAGEN Y TEXTO DE INTENTOS-->
    <img src="assets/img/{{intentos}}.png" alt="Imagen final" class="ahorcado-img">
    <h3>Intentos: <small> {{intentos}} de 9 </small></h3>

  </div>
  
</div>

<div class="row">
<div class="col text-center">
  
   <h1>
     {{palabraOculta}}
   </h1>

  </div>
</div>

<div class="row" *ngIf="gano">
  <div class="col text-center">
    
     <h1>
       FELICIDADES! GANASTE :D
     </h1>
  
    </div>
  </div>

  <div class="row" *ngIf="perdio">
    <div class="col text-center">
      
       <h1>
         LO SIENTO, PERDISTE :c
       </h1>
       <h4>
         La palabra era: {{palabra}}
       </h4>
    
      </div>
    </div>

<div class="row" *ngIf="!gano && !perdio">
  <div class="col text-center">
    <!--colocamos un metodo parecido al for para barrer el arreglo LETRAS-->
    <button (click) = "comprobar(letra)" *ngFor="let letra of letras" class="btn btn-primary">
      {{letra}}
    </button>
  </div>
</div>